<mat-table class="users-table mat-elevation-z8" [dataSource]="usersDataSourceService"
		   matSort matSortActive="last_name" matSortDirection="asc" matSortDisableClear>

	<!--  Column definitions    -->
	<ng-container matColumnDef="first_name">
		<mat-header-cell *matHeaderCellDef mat-sort-header class="cell first-name-cell">
			First Name
		</mat-header-cell>
		<mat-cell class="cell first-name-cell"
				  *matCellDef="let user; let rowID = index;">

			<div class="down-arrow-and-name-container">
				<div class="down-arrow-container">
					<mat-icon *ngIf="(highlightedRow === rowID)">
						arrow_drop_down
					</mat-icon>
				</div>
				<div class="user-firstname">{{user.first_name}}</div>
			</div>
		</mat-cell>
	</ng-container>


	<ng-container matColumnDef="last_name">
		<mat-header-cell *matHeaderCellDef mat-sort-header class="cell last-name-cell">
			Last Name
		</mat-header-cell>
		<mat-cell class="cell last-name-cell"
				  *matCellDef="let user">{{user.last_name}}
		</mat-cell>
	</ng-container>

	<ng-container matColumnDef="email">
		<mat-header-cell *matHeaderCellDef mat-sort-header class="cell email-cell">
			Email
		</mat-header-cell>
		<mat-cell class="cell email-cell"
				  *matCellDef="let user">
			<a [href]="'mailto:' + user.email">{{user.email}}</a>
		</mat-cell>
	</ng-container>
	<!--  / Column definitions    -->


	<!--  Row definitions   -->
	<mat-header-row
			*matHeaderRowDef="userColumnInfoService.mainColumnPropertyNames">
	</mat-header-row>

	<!--  The items in 'columns' need to match the matColumnDef for each column  -->
	<mat-row
			*matRowDef="let thisRow;
				columns: userColumnInfoService.mainColumnPropertyNames;
				let thisRowID = index"
			[class.highlightedRow]="highlightedRow === thisRowID"
			[collapsibleDetailRow]="thisRow" [collapsibleDetailRowTpl]="expandedRowTpl"
			(toggleChange)="onToggleRow($event)"
			(mouseover)="highlightRow('highlightedRow', thisRowID)" >
	</mat-row>
	<!-- / Row definitions   -->

	<!--  The hidden subtable's expanding functionality is brought to you by
	CollapsibleDetailRowDirective  -->

	<!--   Hidden Subtable    -->
	<ng-template #expandedRowTpl let-thisRow>
		<div class="mat-row expanded-row" [@detailExpand]>

			<!--   Subtable header row    -->
			<div class="mini-row  subtable-header-row">
				<div *ngFor="let columnTitle of userColumnInfoService.subtableColumnTitles;
							let columnIndex = index;"
					 class="cell {{htmlAttributesService.subtableColumnCellClasses[columnIndex]}}">
					{{columnTitle}}
				</div>
			</div>
			<!--  / Subtable header row   -->


			<!--   Subtable data row    -->
			<div *ngFor="let row of thisRow.rows; let rowID = index;" title="Click for rates"
				 class="mini-row subtable-data-row"
				 [class.highlightedRow]="highlightedSubtableRow === rowID"
				 (mouseover)="highlightRow('highlightedSubtableRow',rowID)"
				 [collapsibleDetailRow]="thisRow" [collapsibleDetailRowTpl]="hiddenRatesRowTpl"
				 (toggleChange)="onToggleSubrow($event, row)" >
				<div class="cell active-cell"><input type="checkbox" [checked]="row.active"></div>
				<div class="cell pool-cell"><input type="checkbox" [checked]="row.pool"></div>
				<div class="cell source-cell">{{row.source}}</div>
				<div class="cell target-cell">{{row.target}}</div>

				<!--  Access Rights cell with the dropdown menu    -->
				<div class="cell access-rights-cell">
					<div class="dropdown-button-menu-group" (mouseleave)="closeDropdown()">
						<button mat-button (click)="toggleDropdown(rowID, $event)"
								class="access-rights-button">
							{{row.access_rights_count + ' selected'}}
							<span class="mat-select-arrow"></span>
						</button>
						<ul *ngIf="dropdownMenu.rowIndex === rowID && dropdownMenu.isOpen"
							class="access-rights-dropdown-menu">
							<li *ngFor="let role of row.roles; let roleID = index;"
								(mouseover)="highlightRow('highlightedDropdownItem', roleID)"
								[class.highlightedRow]="highlightedDropdownItem === roleID"
								class="dropdown-menu-item">
								<mat-icon *ngIf="role.assigned">done</mat-icon>
								{{role.name}}
							</li>
						</ul>
					</div>
				</div>
				<!--  / Access Rights cell with the dropdown menu    -->

			</div>
			<!--  / Subtable data row   -->

		</div>
	</ng-template>
	<!--  / Hidden Subtable    -->


	<!--   Hidden Rates Row    -->
	<ng-template #hiddenRatesRowTpl let-thisSubrow>

		<div class="rates-row" [@detailExpand]>

			<div class="mini-row subtable-header-row">
				<div class="cell rate-cell" *ngFor="let header of usersDataSourceService.rateHeaders">
					<div  [title]="header.title">
						{{header.name}}
					</div>
				</div>
			</div>

			<div class="mini-row rates-table-row rates-table-values">
				<div class="cell rate-cell"
					 *ngFor="let rateValue of usersDataSourceService.currentlyViewedRates">
					<div>
						{{rateValue}}
					</div>
				</div>
			</div>

		</div>

	</ng-template>
	<!--  / Hidden Rates Row    -->


</mat-table>
